
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color:#337ab7;
}


.aa:hover{
		color:white;
		text-decoration: none;
		}
.foot_nav{
	background-color: black;
	height: auto;
	width: 100%;
	font-color:white;
	text-align: center;

    
}

.menu1{
	padding-top: 17px;
	padding-right:  70px;
	text-indent:  5em;
	color: red;
}
 .navbar-custom{ 
            background-color: #3d4e5b;
            height: 100px;
			width: 100%
			font-color:white;
		    margin-bottom: 0px;
        }
.nab1{
	background-color: #3d4e5b;
	height: 100px;
	width: 100%
	font-color:white;
	position: relative;
    z-index: 101;
    margin-bottom: 0px;
	}

.footer{
	height: auto;
	padding-left:50px;
	padding-top:50px;
	padding-bottom:50px;
	background-color: #3d4e5b;
	width: 100%
	font-color:white;
	margin: 0px;
	}
.copyright{
	background-color:black;
	text-align: center;
	color:white;
	width:100%;
	height: 50px;
	padding-top: 15px;
}
.btn-circle{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
}
.dropdown:hover>.dropdown-menu{
	display: block;
}
.right_nav{
	padding-top: 25px;
	padding-right: 35px;
	text-decoration: none;
	}
.right_nav<ul<li{
	background: blue;
	color: red;
}
.left_nav{
	padding-left:0px;
	width:200px;
	text-decoration: none;
	}
.form1{
	width: 250px;
	background-color: #3d4e5b;
	height: 200px;
	margin:20px;
	padding: 20px;

}
.a{
	color:white;
}
.button_color{
	background-color:#f3715d;
	color: white;
}
.header-wrap {
    position: relative;
    z-index: 101;
    background-color: #3d4e5b;
    color: #fff;
}

table{
	border-style: ridge;

}
.accordion-toggle:hover {
      text-decoration: none;
    }

.row_color{
	background-color: #f2f2f2;
	padding-left: 20px;
	text-align: center;
}

.vl{
  border-left: 4px solid #0099ff;
  height: 30px;
  padding-left: 10px;
  margin-left: -10px;
}
.course_button{
	background: #3498db;
}
#register_butto_nav:hover{
			background:#003366;
			color:white;
		}

